# DB Configurations
DB_HOST= db_localhost
DB_USER= db_username
DB_PASS= db_password
DB_DATABASE= db_name
SENDGRID_API_KEY= sendgrid_api_key
SENDGRID_SENDER= from_email

# local runtime configs
PORT= server_port
SECRET_JWT= your_secret